* {
    padding: 0;
    margin: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dela+Gothic+One&family=Outfit:wght@100..900&family=Ultra&display=swap");

$primary: #336913;
$background-color: #f5f8fa;
$text-color: #000000;
$white: #ffffff;
$button-bg-color: $primary;
$grey: #dddddd;

// Buttons

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 50px;
    gap: 5px;
    text-decoration: none;

    &-icon {
        font-size: 15px;
    }

    &-fill {
        background-color: $primary;
        color: $white;
    }

    &-border {
        background-color: $white;
        color: $primary;
        border: 1px solid $grey;
    }
    
    @media (max-width: 768px) {
        padding: 8px 20px;
        font-size: 14px;

        &-icon {
            font-size: 14px;
        }
    }

    @media (max-width: 480px) {
        padding: 6px 15px;
        font-size: 13px;

        &-icon {
            font-size: 13px;
        }
    }
}

// Navbar

.navbar {
    background-color: $white;
    padding: 24px 78px;
    position: relative;
    width: 100%;

    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // max-width: 1200px;
        margin: 0 auto;

        .logo a {
            text-decoration: none;
            color: $text-color;
            font-size: 24px;
            font-weight: bold;
        }

        .logo img {
            height: 50px;
        }

        .nav-links {
            display: flex;
            gap: 24px;
            flex-grow: 1;
            justify-content: center;

            a {
                text-decoration: none;
                color: $text-color;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.5%;

                &:hover {
                    color: $primary;
                }
            }
        }

        .menu-toggle {
            display: none;
            font-size: 24px;
            cursor: pointer;

            span {
                display: block;
            }
        }
    }

    @media (max-width: 768px) {
        .navbar-container {
            position: relative;

            .nav-links {
                position: absolute;
                top: 60px;
                left: 0;
                display: none;
                width: 100%;
                background-color: $white;
                flex-direction: column;
                align-items: center;
                padding: 10px 0;
                z-index: 1000;

                a {
                    display: block;
                    width: 100%;
                    padding: 10px;

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            .btn {
                display: none;
            }

            .menu-toggle {
                display: block;
            }
        }

        .nav-links.active {
            display: flex;
        }
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 0;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }

    // Hero
    .hero {
        .hero-header {
            border-right: 1px $grey solid;
            padding: 50px 70px;
            margin-bottom: 0;
            gap: 40px;
        }

        h2 {
            font-weight: 700;
            font-size: 40px;
            margin-top: 16px;
            line-height: 50px;
        }

        .card {
            background-color: #fff;
            border: 1px solid #eeee;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
            overflow: hidden;
            max-width: 100%;
            padding: 25px;
            margin-top: 16px;

            .card-wrapper {
                .card-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    margin-bottom: 17px;

                    .left {
                        display: flex;
                        align-items: end;
                        gap: 11px;

                        img {
                            width: 40px;
                            height: 40px;
                        }

                        h4 {
                            font-size: 30px;
                            font-weight: 700;
                            color: $primary;

                            span {
                                font-weight: 500;
                                font-size: 16px;
                                color: $primary;
                            }
                        }
                    }
                }

                .card-body {
                    .progress-container {
                        width: 100%;
                        background-color: #eff7ef;
                        border-radius: 900px;
                        height: 15px;
                        overflow: hidden;

                        .progress-bar {
                            background-color: $primary;
                            height: 100%;
                            width: 0;
                            transition: width 0.4s ease;
                        }
                    }
                }
            }
        }

        img {
            margin-top: -16px;
            width: 100%;
            height: 250px;
            display: block;
        }
    }

    // Leaderboard

    .leaderboard {
        padding: 24px 42px 24px 42px;

        .leaderboard-header {
            gap: 14px;
            margin-bottom: 18px;

            h3 {
                font-weight: 700;
                font-size: 32px;
                margin-bottom: 10px;
            }

            .leaderboard-button {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            button:last-child {
                color: #888888;
                border-color: $grey;
            }

            button:hover {
                color: $white;
                border-color: $primary;
                background: $primary;
                cursor: pointer;
            }
        }

        .list-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .list-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 16px;
                padding-bottom: 10px;
                flex-wrap: nowrap;
                border-bottom: 1px solid #dee2e6;

                .number {
                    color: #fff;
                    border-radius: 70px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;
                    font-weight: 700;
                }

                .list-info {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 16px;

                    .list-detail {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        gap: 8px;

                        .item-image {
                            width: 60px;
                            height: 60px;

                            img {
                                object-fit: scale-down;
                            }
                        }

                        .item-details {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            .item-name {
                                font-size: 20px;
                                margin: 0;
                                font-weight: 700;
                            }

                            .item-score {
                                color: $text-color;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                .list-total {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 16px;

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    h4 {
                        font-size: 22.5px;
                        font-weight: 700;
                        color: $primary;

                        span {
                            font-weight: 500;
                            font-size: 12px;
                            color: $primary;
                        }
                    }
                }
            }

            @media (max-width: 768px) {
                .list-item {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }

    .list-item:nth-of-type(1) .number {
        background: #336913;
    }

    .list-item:nth-of-type(2) .number {
        background: #336913;
    }

    .list-item:nth-of-type(3) .number {
        background: #336913;
    }

    .list-item:nth-of-type(4) .number {
        background: #85bb50;
    }

    .list-item:nth-of-type(5) .number {
        background: #85bb50;
    }

    .list-item:nth-of-type(6) .number {
        background: #a7cc05;
    }
}

.partner {
    background: $background-color;
    padding: 32px 60px;

    .partner-container {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
        justify-content: center;

        .partner-item {
            flex: 1 1 70px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 45px;
                object-fit: contain;
                width: 100%;
            }
        }
    }
}

.about {
    padding: 70px 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .about-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-bottom: 40px;

        .about-img {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 7px;
            margin-bottom: 20px;

            img {
                width: 110px;
                height: 120px;
            }
        }

        h2 {
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 10px;
        }

        p {
            width: 900px;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
        }
    }

    .about-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .image-container {
            display: flex;
            width: 100%;
            max-width: 1200px; // Mengatur lebar maksimum
            height: auto; // Mengatur tinggi otomatis untuk kontainer gambar
            gap: 40px;

            .image-column {
                flex: 1;
                overflow: hidden; // Menghindari gambar keluar dari kolom
                position: relative;

                img {
                    width: 100%;
                    height: 344px;
                    border-radius: 24px;
                    object-fit: cover; // Menjaga rasio gambar
                    display: block;
                    margin-bottom: 24px;
                }

                p {
                    color: #000000;
                    font-weight: 600;
                    font-size: 22px;
                }
            }
        }

        .card {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
            max-height: 120px;
            padding: 0 20px 30px 20px;
            border-radius: 30px;
            text-align: center;
            z-index: 1;

            img {
                width: 100px;
                height: auto;
                left: 50px;
                margin-bottom: -20px;
            }

            h2 {
                margin-top: 0;
                font-weight: 700;
                font-size: 15px;
                color: #2d9444;
            }
        }
    }
}

// Responsif
@media (max-width: 768px) {
    .image-container {
        flex-direction: column;

        .image-column {
            width: 100%;
        }
    }
}

.event {
    background: $background-color;
    padding: 70px 78px;

    .event-container {
        .event-header {
            width: 100%;
            margin-bottom: 50px;
            text-align: center;

            h2 {
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 10px;
                color: $primary;
            }

            p {
                padding: 0 20%;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
            }
        }

        .event-detail {
            .card {
                display: flex;
                justify-content: center;
                align-items: center;
                // flex-wrap: wrap;
                background: $white;
                border-radius: 44px;
                padding: 24px 42px;
                margin-bottom: 40px;

                .event-desc {
                    top: 56px;
                    left: 50px;

                    h4 {
                        font-size: 27px;
                        font-weight: 600;
                        color: $primary;
                        margin-bottom: 10px;
                    }

                    h3 {
                        font-weight: 700;
                        font-size: 30px;
                        margin-bottom: 10px;
                    }

                    p {
                        width: 85%;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 21px;
                        margin-bottom: 20px;
                    }

                    .btn:hover {
                        cursor: pointer;
                    }
                }

                .event-image {
                    height: 300px;

                    .slider {
                        position: relative;
                        border-radius: 44px;
                        // width: 100%;
                        width: 603px;
                        height: 100%;
                        overflow: hidden;

                        .slides {
                            display: flex;
                            transition: transform 0.5s ease-in-out;
                            height: 100%;

                            .slide {
                                min-width: 100%;
                                height: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 8px;
                                }
                            }
                        }

                        .prev,
                        .next {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            background: $primary;
                            border: none;
                            font-size: 28px;
                            color: $white;
                            cursor: pointer;
                            border-radius: 11px;
                            padding: 5px 15px;
                            z-index: 1;
                            transition: background 0.3s;
                        }

                        .prev {
                            left: 10px;
                        }

                        .next {
                            right: 10px;
                        }
                    }
                }
            }
        }

        .lists {
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 33px;

            .list {
                border-top: 3px solid #ddd;
                padding-top: 25px;

                .list-text {
                    h4 {
                        font-weight: 800;
                        font-size: 25px;
                        margin-bottom: 6px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 18px;
                    }
                }

                &:hover {
                    border-color: $primary;
                }
            }

            .list:first-child {
                border-color: $primary;
            }
        }
    }
}

.sponsorship {
    padding: 70px 78px;

    .sponsorship-container {
        .sponsorship-header {
            width: 100%;
            margin-bottom: 50px;
            text-align: center;

            h2 {
                font-weight: 700;
                font-size: 40px;
                line-height: 50px;
                margin-bottom: 10px;
                color: #112d63;
            }

            p {
                padding: 0 20%;
                font-weight: 300;
                font-size: 18px;
                line-height: 27px;
            }
        }

        .sponsorship-package {
            h3 {
                font-size: 26px;
                font-weight: 600;
                margin-bottom: 32px;
                text-align: center;
            }

            .table-container {
                overflow-x: auto;
                border-radius: 19px;
                margin-bottom: 32px;

                table {
                    width: 100%;
                    border-collapse: collapse;

                    thead th {
                        background-color: #e0f6ff;
                        padding: 20px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    tbody td {
                        padding: 15px 20px;
                    }

                    tbody tr:nth-child(even) {
                        background-color: #f8fdff;
                    }

                    .btn {
                        background: #518bbb;
                        cursor: pointer;
                    }

                    .image-text {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    .image-text img {
                        width: 27px;
                        object-fit: fill;
                    }
                }
            }

            &.corporate {
                table tr th,
                td {
                    text-align: center;
                }

                table tr {
                    text-align: center;
                }

                table tbody td {
                    padding: 20px;
                    text-align: center;
                }

                table tbody tr:last-child td {
                    border: $white solid 1px;
                }

                .button-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                table tbody tr:last-child {
                    background: #518bbb;
                    color: $white;
                    text-align: center;

                    .btn {
                        background: $white !important;
                        color: #518bbb;
                    }
                }
            }

            @media (max-width: 768px) {
                table {
                    font-size: 14px;
                }

                .image-text img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

.cta {
    background: $background-color;
    padding: 70px 78px 0 78px;

    .cta-header {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -100px;

        h2 {
            padding: 0 25%;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 10px;
            color: $primary;
        }

        p {
            padding: 0 25%;
            font-weight: 300;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 24px;
        }

        .btn:hover {
            cursor: pointer;
        }
    }

    .cta-image {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 50px;

        .image-item {
            flex: 1;
            max-width: 100%;
            position: relative;
            overflow: hidden;
            border-width: 6px 6px 0px 6px;
            border-style: solid;
            border-color: $white;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .item-1,
        .item-5 {
            height: 425px;
        }

        .item-2,
        .item-4 {
            height: 280px;
        }

        .item-3 {
            height: 160px;
        }
    }
}

footer {
    text-align: center;
    color: $white;
    padding: 20px;
    background: $primary;
    
    a {
        color: $white;
    }
}